{{ include('templates/header.twig') }}
<link rel="stylesheet" href="/assets/css/user-statistics.css">

<div class="container-fluid mt-5">
    <h1  class="text-center">О сервисе</h1>
    <p>Сервис предоставляет пользователям аналитику друзей в социальной сети <i class="fa fa-vk" aria-hidden="true"></i> Вконтакте по времени.</p>
    <p>Наши возможности:</p>
    <ul class="list">
        <li>Аналитика удаленных друзей</li>
        <li>Аналитика текущих друзей</li>
        <li>Аналитика недавних действий</li>
        <li>Датирование информации о друзьях</li>
    </ul>
    <p>Сервис постоянно развивается, связи с этим уже скоро будут добавлены новые функции и более подробная аналитика!</p>
</div>

{{ include('templates/footer.twig') }}