<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    {% if title == 'Статистика' %} <link href="assets/css/user-statistics.css" rel="stylesheet" media="screen"> {% endif %}
    <title>{{ title }}</title>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top topbar">
		  <div class="container-fluid">
			  <div class="navbar-header">
				  <a href="/" class="navbar-brand">
					  <span class="visible-xs">VK</span>
					  <span class="hidden-xs">VK Статистика</span>
				  </a>
				  <p class="navbar-text">
					  <a href="#" class="sidebar-toggle hidden-lg hidden-md">
              <i class="fa fa-bars"></i>
            </a>
				  </p>
			  </div>
        <div class="navbar-collapse collapse" id="navbar-collapse-main">
				  <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"> {# notification #}
          		<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <i style='color:white' class="fa fa-bell-o" aria-hidden="true"></i> <span class="label label-danger">Новости</span></h3></a>
						  <ul class="dropdown-menu dropdown-cart" role="menu">
							  <li>
							{#	<span class="item">
									  <span class="item-left">
										  <img src="" alt="" />
									    <span class="item-info">
											  <span>Заголовок</span>
											  <span>Краткое описание</span>
									    </span>
									  </span>
									  <span class="item-right">
										  <button class="btn btn-xs btn-danger pull-right">x</button>
									  </span>
								  </span>
							#} В разработке...
							  </li>
						  </ul>
					  </li>
					  <li class="dropdown"> {# action user #}
              <button class="navbar-btn" data-toggle="dropdown">
                <img src="{{ user.photo_50 }}" class="img-circle avatar">
              </button>
              <ul class="dropdown-menu">
                <li><a href="/user/out">Выйти</a></li>
              </ul>
					  </li>	
				  </ul>
        </div> {# end right elements #}
		  </div> {# end container #}
	  </nav> {# end nav-bar #}



