<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <title>{{ title }}</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
        <a class="navbar-brand" href="/">
            <i class="fa fa-bar-chart" aria-hidden="true"></i>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                   <a class="nav-item nav-link {% if title == 'Статистика' %} active {% endif %}" href="/">Статистика <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                     <a class="nav-item nav-link {% if title == 'Как это работает?' %} active {% endif %}" href="/user/faq">Как это работает?</a>
                </li>
            </ul>
        </div>
    </nav>


